{% extends "base.html" %}
{% load static %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <h1>Welcome to the Meeting Planner</h1>
    <p>
        This is demo meeting Planner.
        <em>Django: Meeting Planner</em>
    </p>
    <img src="{% static 'website/calender.png' %}" alt="calender" width="100px">
    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}">
                    {{ meeting.title }}
                </a>
                
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'rooms' %}"> Room List</a>
{% endblock %}